<div class="container">
  <button class="close">
    <a href="#"><img src="/assets/cross.png" alt="x" /></a>
  </button>
  <div class="title">Get Unlimited Access</div>
  <div class="options">
    <div class="option option-1">Unlimited Art Creation</div>
    <div class="option option-2">Exclusive Styles</div>
    <div class="option option-3">Magic Avatars With 20% Off</div>
  </div>
  <button class="subscription" data-url="https://apple.com/">
    <div class="best-offer">BEST OFFER</div>
    <div class="access">
      <p>YEARLY ACCESS</p>
      <p class="price-color per-year">Just $39.99 per year</p>
    </div>
    <p class="subscription-price price-color">$0.48 per week</p>
  </button>
  <button class="subscription" data-url="https://google.com/ ">
    <p class="weekly-access access">WEEKLY ACCESS</p>
    <p class="subscription-price price-color">$6.99 per week</p>
  </button>
  <button id="continue-button" class="button">Continue</button>
  <div class="footer">
    <a href="#">Terms of Use</a>
    <a href="#">Privacy Policy </a>
    <a href="#">Restore</a>
  </div>
</div>
