@media (max-width: 375px) and (max-height: 667px),
  (width: 414px) and (height: 736px) {
  .container {
    padding: 5px 24px;
  }
  .footer {
    margin-top: 30px;
  }
  .subscription {
    margin-bottom: 5px;
  }
  .options {
    margin-bottom: 18px;
  }
  .title {
    margin-bottom: 15px;
  }
}
